<div class="col-md-12 actions-map" *ngIf="sessionService.loggedIn && routes.length > 0">
    <div class="dropdown show-on-hover col-md-9 no-padding-lr">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuRoute" data-toggle="dropdown">
            {{'feed.select_roads' | translate}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu routes-list-containers" aria-labelledby="dropdownMenuRoute">
            <li *ngFor="let route of routes | routeFilter:routeFilterModel">
                <label>
                    <input type="checkbox" [(ngModel)]="route.checked" (change)="onRouteChecked($event, route)" /> {{route.routeLongName}}
                </label>

            </li>
        </ul>
        <input type="text" class="filter-route-input" [(ngModel)]="routeFilterModel" placeholder="{{'feed.filter' | translate}}" />
    </div>
    <label class="pull-right">
        <input type="checkbox" [(ngModel)]="checkAll" (change)="onRouteCheckAll($event)" /> {{'feed.check_all' | translate}}
    </label>
</div>

<div class="col-xs-12 well well-sm">
    <div id="{{mapId}}"></div>
    <app-spinner *ngIf="loading"></app-spinner>

</div>
