<div class="status">
  <div class="message busyMessage" *ngIf="(getStatus()|async).busyMessage">
    <app-spinner></app-spinner>
    <span [innerHTML]="(getStatus()|async).busyMessage|translate:(getStatus()|async).busyMessageArgs"></span>
  </div>
  <div class="message notifyMessage" *ngIf="(getStatus()|async).notifyMessage">
    <span [innerHTML]="(getStatus()|async).notifyMessage|translate:(getStatus()|async).notifyMessageArgs"></span>
    <i class="fa fa-close" (click)="clearStatusNotifyMessage()"></i>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
