<div *ngIf="!sessionService.loggedIn" class="createfeed-gologin">
  <button (click)="sessionService.login()">Login to proceed</button>
</div>
<form *ngIf="sessionService.loggedIn" class="subcribe-form" (submit)="submit()">
  <div class="form-group form-group-file">
    <label>File (.zip)</label>
    <input type="file" (change)="utils.setFileModelOnChange(simpleUpload, 'file', $event)" name="file" required>
  </div><!--/.form-group-->
  <a (click)="toggleShowOptionsUpload($event)" *ngIf="!showOptionsUpload" href="#">{{'popup.upload.toggleOptions.show'|translate}}</a>
  <a (click)="toggleShowOptionsUpload($event)" *ngIf="showOptionsUpload" href="#">{{'popup.upload.toggleOptions.hide'|translate}}</a>
  <div *ngIf="showOptionsUpload">
    <div class="form-group">
      <label>{{'popup.upload.projectName'|translate}}</label>
      <input type="text" [(ngModel)]="simpleUpload.projectName" name="projectName">
    </div><!--/.form-group-->
    <div class="form-group">
      <label>{{'popup.upload.feedName'|translate}}</label>
      <input type="text" [(ngModel)]="simpleUpload.feedName" name="feedName">
    </div><!--/.form-group-->
    <div class="form-group">
      <input type="checkbox" id="chk-private" [(ngModel)]="simpleUpload.isPrivate" name="isPrivate">
      <label for="chk-private"> {{'popup.upload.isPublic'|translate}}</label>
    </div><!--/.form-group-->
  </div>
  <div class="form-group form-group-submit">
    <input type="submit" class="" value="{{'popup.upload.submit'|translate}}">
  </div><!--/.form-group-->
</form>
