<form class="subcribe-form" (submit)="submit()">
  <div class="form-group">
    <label>{{'popup.subscribe.name'|translate}}</label>
    <input type="text" name="NAME" [ngModel]="userSubscribeParams.NAME" required>
  </div><!--/.form-group-->
  <div class="form-group">
    <label>{{'popup.subscribe.company'|translate}}</label>
    <input type="text" name="COMPANY" [ngModel]="userSubscribeParams.COMPANY" required>
  </div><!--/.form-group-->
  <div class="form-group">
    <label>{{'popup.subscribe.email'|translate}}</label>
    <input type="email" name="EMAIL" [ngModel]="userSubscribeParams.EMAIL" required>
  </div><!--/.form-group-->
  <div class="form-group">
    <label>{{'popup.subscribe.type.label'|translate}}</label>
    <div class="custom-select">
      <select name="TYPE" [ngModel]="userSubscribeParams.TYPE" required>
        <option>{{'popup.subscribe.type.placeholder'|translate}}</option>
        <option>{{'popup.subscribe.type.producer'|translate}}</option>
        <option>{{'popup.subscribe.type.developer'|translate}}</option>
        <option>{{'popup.subscribe.type.community'|translate}}</option>
      </select>
    </div>
  </div><!--/.form-group-->
  <div class="form-group form-group-submit">
    <input type="submit" class="" value="{{'popup.subscribe.submit'|translate}}">
  </div><!--/.form-group-->
</form>
