<app-modal>
 <div class="app-modal-header">
      <label>{{'datasets.table.miscData.title' | translate}}</label>
 </div>

<div class="app-modal-body">

	<div>
		<label><input type="radio" name="radiogroupMisc"
			[checked]="newLicenseOrMiscData.type === 'no'" [value]="newLicenseOrMiscData.type"
			(change)="onSelectionChange('no')">{{'datasets.table.miscData.noMiscData'|translate}}</label>
	</div>

	<div>
		<label><input type="radio" name="radiogroupMisc"
			[checked]="newLicenseOrMiscData.type === 'custom'" [value]="newLicenseOrMiscData.type"
			(change)="onSelectionChange('custom')">{{'datasets.table.miscData.new'|translate}}</label>
	</div>

		<div *ngIf="newLicenseOrMiscData.type === 'custom'">
			<div>
				<label>{{'popup.upload.file'|translate}}</label> <input type="file"
					(change)="utils.setFileModelOnChange(newLicenseOrMiscData.itemFile, 'file', $event)">
			</div>
			<div *ngIf="newLicenseOrMiscData.error" class="alert alert-danger">
				{{('mydatasets-table.' + newLicenseOrMiscData.error) | translate}}</div>
		</div>
</div>
<div class="app-modal-footer">
	<button type="button" class="btn btn-cancel" (click)="hide()">{{'popup.cancel'|translate}}</button>
	<button type="button" class="btn btn-validate"
		(click)="onSubmit()">{{'popup.validate'|translate}}</button>
</div>
</app-modal>
