<app-modal>
    <div class="app-modal-header">
        <label class="title">{{'popup.feed.create.title'|translate}}</label>
    </div>

    <div class="app-modal-body">

        <div>
            <label>{{'popup.feed.create.subtitle'|translate}}</label>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-cancel" (click)="cancel()">{{'popup.cancel'|translate}}</button>
        <button type="button" class="btn btn-validate" (click)="validate()">{{'popup.validate'|translate}}
        </button>
    </div>
</app-modal>
