<div *ngIf="!sessionService.loggedIn" class="createfeed-gologin">
    <button (click)="sessionService.login()">{{'popup.upload.login'|translate}}</button>
</div>

<form *ngIf="sessionService.loggedIn" class="subcribe-form" (submit)="submit()">

    <div>
        <label>
            <input type="radio" name="radiogroupCreateFeed" [checked]="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.MANUAL" [value]="simpleUpload.retrievalMethod" (change)="onSelectionChange(RETRIEVAL_METHODS.MANUAL)" />{{'popup.upload.zip'|translate}}
        </label>
    </div>

    <div>
        <label>
            <input type="radio" name="radiogroupCreateFeed" [checked]="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.AUTO" [value]="simpleUpload.retrievalMethod" (change)="onSelectionChange(RETRIEVAL_METHODS.AUTO)" /> {{'popup.upload.url'|translate}}
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="radiogroupCreateFeed" [checked]="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.CREATE" [value]="simpleUpload.retrievalMethod" (change)="onSelectionChange(RETRIEVAL_METHODS.CREATE)" /> {{'popup.upload.createFeed'|translate}}
        </label>
    </div>

    <div *ngIf="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.AUTO">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-url">URL</span>
            <input type="text" class="form-control" [(ngModel)]="simpleUpload.feedUrl" name="feedUrl" id="basic-url" aria-describedby="basic-addon-url">

        </div>

        <div class="">
            <input type="checkbox" id="chk-autofeed" [(ngModel)]="simpleUpload.autoFetchFeeds" name="autoFetchFeeds">
            <label for="chk-autofeed">{{'popup.upload.autoFetchFeeds'|translate}}</label>
        </div>
    </div>

    <div *ngIf="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.MANUAL">
        <div class="form-group form-group-file">
            <label>{{'popup.upload.file'|translate}}</label>
            <input type="file" (change)="utils.setFileModelOnChange(simpleUpload, 'file', $event)" name="file" required>
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon-feedName">{{'popup.upload.feedName'|translate}}</span>
        <input type="text" class="form-control" [(ngModel)]="simpleUpload.feedName" name="feedName" id="basic-feedName" aria-describedby="basic-addon-Name">
    </div>

    <div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-feedDesc">{{'popup.upload.feedDescription'|translate}}</span>
            <input type="text" class="form-control" [(ngModel)]="simpleUpload.feedDesc" name="feedDesc" id="basic-feedDesc" aria-describedby="basic-addon-feedDesc">
        </div>

        <div class="input-group" *ngIf="simpleUpload.newLicense">
            <span class="input-group-addon" id="basic-addon-licenseName">{{'popup.upload.licenseName'|translate}}</span>
            <input type="text" class="form-control" [(ngModel)]="simpleUpload.licenseName" name="licenseName" id="basic-licenseName" aria-describedby="basic-addon-licenseName">
        </div>
        <div class="form-group form-group-file" *ngIf="simpleUpload.newLicense">
            <label>{{'popup.upload.licenseFile'|translate}}</label>
            <input type="file" (change)="utils.setFileModelOnChange(simpleUpload, 'licenseFile', $event)" name="licenseFile">
        </div>

        <div class="input-group" *ngIf="!simpleUpload.newLicense">
            <span class="input-group-addon" id="basic-addon-license">{{'popup.upload.select'|translate}}</span>
            <select [ngModel]="simpleUpload.license" class="form-control" (ngModelChange)="onChange($event)" name="sel2" id="basic-license" aria-describedby="basic-addon-license">
                <option [ngValue]="license" *ngFor="let license of licenses">{{license.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <input type="checkbox" id="chk-license" [(ngModel)]="simpleUpload.newLicense" name="newLicense">
            <label for="chk-license">{{'popup.upload.check'|translate}}</label>
        </div>

        <div class="form-group form-group-file">
            <label>{{'popup.upload.metadataFile'|translate}}</label>
            <input type="file" (change)="utils.setFileModelOnChange(simpleUpload, 'metadataFile', $event)" name="metadataFile">
        </div>

        <div class="form-group">
            <label for="chk-private">
                <input type="checkbox" id="chk-private" [(ngModel)]="simpleUpload.isPrivate" name="isPrivate"> {{'popup.upload.isPublic'|translate}}
            </label>
        </div>
    </div>

    <!--/.form-group-->
    <!--</div>-->
    <div class="form-group form-group-submit">
        <button *ngIf="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.MANUAL" type="submit" [class.disabled]="simpleUpload.file == null" class="btn pull-right"> {{'popup.validate'|translate}}</button>
        <button *ngIf="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.AUTO" type="submit" [class.disabled]="simpleUpload.feedUrl == null" class="btn pull-right"> {{'popup.validate'|translate}}</button>
        <button *ngIf="simpleUpload.retrievalMethod === RETRIEVAL_METHODS.CREATE" type="submit" [class.disabled]="simpleUpload.feedName.length === 0" class="btn pull-right"> {{'popup.validate'|translate}}</button>
    </div>


    <!--/.form-group-->
</form>
