.datasets-table-component {
    select {
        height: 26px;
        padding: 0 5px;
        border-radius: 2px;
    }

    .form-group {
        margin: 0;
        padding: 0;
    }

    .btn-delete {
        color: $ct-red;
    }

    .btn-edit {
        color: $ct-orange;
    }

    .btn-download {
        color: $ct-green;
    }

    .version-component {
        display: flex;

        .caret {
            margin-top: 13px;
        }
    }
}
