.feed-component {
    .btn.focus,
    .btn:focus,
    .btn:hover {
        color: $ct-orange;
    }

    .feed-tools {
        display: flex;
    }

    .dropdown {
        height: 100%;
    }

    .text-container {
        max-width: 120px;
        margin-right: 10px;
    }

    .item-title {
        font-style: italic;
    }

    .actions-map {
        padding-bottom: 5px;
    }

    .map-container {
        padding: 15px;

        .routes-list-containers {
            max-height: 300px;
            overflow-y: auto;
            width: 300px;
        }

        .stop-route-hover {
            color: $ct-red;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .filter-route-input {
            width: 200px;
            height: 36px;
            font-style: italic;
            color: $ct-grey;
        }

        .legend-item {
            color: $ct-white;
            width: 20px;
            height: 20px;
            padding: 3px;
            border-radius: 50%;
        }

        .legend-station {
            background-color: $ct-orange;
        }

        .legend-stop {
            background-color: $ct-green;
        }
    }

    .show-on-hover:hover > ul.dropdown-menu {
        display: block;
    }

    a {
        cursor: pointer;
    }

    .viewing {
        font-family: 'karbon-bold', Arial, Helvetica, sans-serif;
        font-size: 25px;
    }

    select {
        padding: 0;
        width: auto;
        height: 26px;
    }

    .section-container {
        padding-right: 3px;

        label {
            padding-right: 3px;
        }
    }

    textarea {
        border-radius: 2px;
        height: 100px;
    }

    .create-feed-version-btn {
        background-color: $ct-green;
        border-radius: 5px;
        /* font-weight: bold; */
        font-family: 'karbon-semibold', Helvetica, sans-serif;

        .btn {
            padding-left: 3px;
        }
    }

    .well {
        &.host-comment {
            border-color: $ct-orange;
        }

        strong {
            font-family: 'karbon-bold', Arial, Helvetica, sans-serif;
            font-weight: 100px;
        }
    }

    .btn-group {
        padding-bottom: 5px;

        a {
            color: $ct-white;

            &:hover {
                color: $ct-orange;
                text-decoration: none;
            }
        }

        .edit-btn {
            padding-left: 5px;
        }

        .feed-action-btn {
            margin-left: -5px;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        margin-top: 6px;
    }
}
