.feed-component {
    .btn.focus,
    .btn:focus,
    .btn:hover {
        color: $ct-orange;
    }

    .feed-tools {
        display: flex;
    }

    .dropdown {
        height: 100%;
    }

    .text-container {
        max-width: 120px;
        margin-right: 10px;
    }

    .item-title {
        font-style: italic;
    }

    .map-container {
        padding: 15px;

        .routes-list-containers {
            max-height: 300px;
            overflow-y: auto;
            width: 300px;
        }

        .stop-route-hover {
            color: red;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .filter-route-input {
            width: 200px;
            height: 36px;
        }
    }

    .show-on-hover:hover > ul.dropdown-menu {
        display: block;
    }

    a {
        cursor: pointer;
    }

    .viewing {
        font-family: 'karbon-bold', Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
}
