.modal {
	background: rgba(0,0,0,0.6);
  	.modal-dialog {
/*   		top: 100px; */
  	}
  	.modal-header{
  		background-color: $ct-orange;
  		color: white;
  	}
  
  	.customfile{
  		width: 100% !important;
  		height: 45px;
  		.cust-btn{
  			top:-6px !important;
  		}
  	}
  	.alert{
  		margin-top: 10px;
  		margin-bottom: 0px;
  	}
  	.modal-content{
  		margin-top: 100px;
  	}
  	.modal-body{
  		max-height: 500px;
    	overflow-y: auto;
    	.license-text{
    		white-space: pre;
    	}
  	}
  	.modal-header{
  		padding: 7px;
	  	.app-modal-header{
	 		text-align: center;
	    	width: 100%;
	    	label{
	        	text-transform: uppercase;
	        	font-weight: bold;
	    	}
	  	}
  	}
  	#downloadLicenselink{
  		cursor: pointer;
  		color: white;
  		text-transform: uppercase;
  	}
}