.modal {
	background: rgba(0,0,0,0.6);

	.customfile {
		width: 100% !important;
	}

	.alert {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.modal-content {
		margin-top: 50px;
	}

	.modal-body {
		max-height: 500px;
		overflow-y: auto;

		.license-text {
			white-space: pre;
		}

		h4 {
			font-size: 18px !important;
		}

		.list-group {
			max-height: 750px;
			overflow-y: auto;

			.group-header {
				label {
					cursor: pointer;
				}

				.link-header {
					border-style: solid;
					border-width: 1px;
					border-radius: 5px;
					border-color: $ct-light-gray;
					padding: 5px;
				}
			}
		}

		.link-header,
		.list-group-item {
			cursor: pointer;

			&.LOW {
				background-color: #faf2cc;
			}

			&.HIGH {
				background-color: #f2dede;
			}

			&.MEDIUM {
				background-color: #FFE4B5;
			}
		}

		pre {
			display: block;
			line-height: 1;
			font-size: 11px;
			text-align: left;
			margin: 0;
			padding: 0;
		}

		.list-group-dyn-content {
			background-color: $ct-light-gray;
			padding: 5px;
		}
	}

	.modal-header {
		padding: 7px;
		background-color: $ct-orange;
		color: white;

		.app-modal-header {
			text-align: center;
			width: 100%;

			label {
				text-transform: uppercase;
				font-weight: bold;

				.license-name {
					font-family: 'karbon-bold', Arial, Helvetica, sans-serif;
					font-weight: bold;
				}
			}
		}
	}

	#downloadLicenselink {
		cursor: pointer;
		color: white;
		text-transform: uppercase;
	}

	select {
		padding: 0 10px;
		height: 35px;
	}

	input[type="text"] {
		height: 35px;
	}

	.pie-canvas {
		height: 400px !important;
		width: 400px !important;
	}
}
