.modal {
  background: rgba(0,0,0,0.6);
  .modal-dialog {
  	top: 100px;
  }
  .btn-validate{
  	background-color: #dea627;
  	color: white;
  }
  .btn-cancel{
  	background-color: grey;
  	color: white;
  }
}